.navBarItems{
    margin-right: 32px;
}

.nav-item{
    padding: 8px;
}

#login-btn{
    margin: 8px;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

#login-btn:hover{
    background-color: whitesmoke;
    color: black;
}